.main-video{
    width: 60%;
    @include flex-center;
    flex-direction: column;

    .youtube{
        width: 90%;
        aspect-ratio: 16/9;
        margin-bottom: 24px;
    
    }

    .details{
        display: flex;
        width: 90%;
        // justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        h2{
            margin-bottom: 1rem;
        }

        h5{
            font-size: 1rem;
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: hidden;
            margin-bottom: 5px;
        }
    }
}