.index-layout {
  display: grid;

  >* {
    grid-column: 2;

    &.full {
      grid-column: 1 /-1;
    }


  }

  grid-template-columns: minmax($pad-8, 1fr)  $main-content-wide-s minmax($pad-8,
    1fr);

  @include for-tablet-layout {
    grid-template-columns: minmax($pad-24, 1fr) minmax(auto, $main-content-wide-m) minmax($pad-24,
        1fr);
  }

  @include for-wide-layout {
    grid-template-columns: minmax($pad-24, 1fr) minmax(auto, $main-content-wide-l) minmax($pad-24,
        1fr);
  }

  
}