// Colors

// Padding
$pad-8: 8px;
$pad-5: 5px;
$pad-15: 15px;
$pad-12: 12px;
$pad-20: 20px;
$pad-24: 24px;
$pad-40:40px;
$pad-80:80px;

// main-content-wide
$main-content-wide-s: 275px;
$main-content-wide-m: 600px;
$main-content-wide-l: 1100px;

// Breakpoints
$brake-point-s: $main-content-wide-s + 2 * $pad-8;
$brake-point-m: $main-content-wide-m + 2 * $pad-24;
$brake-point-l: $main-content-wide-l + 2 * $pad-24;
